.panel {
  margin: 20px 0;
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
  border: 2px solid darkcyan;

  &__rows {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, auto);
  }

  &__row {
    flex: 20%;
    border: 1px solid black;
  }

  &__unit {
    margin: 0 5px;
    display: flex;
    align-items: center;

    label {
      font-family: 'Courier New', Courier, monospace;
      font-size: 14px;
    }
  }

  input {
    margin: 0 10px 0 0;
    width: 50px;
    height: 20px;
  }
}
