.panel-container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid darkcyan;
    margin: 20px 0px;
    max-width: 600px;
}
p.range-name {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}
.container__rows {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,auto);
}
.container__row{
    border: 1px solid black;
    flex: 20%;
}
.row__unit{
    display: flex;
    align-items: center;
    margin: 0px 5px;
    label {
        font-size: 14px;
        font-family: 'Courier New', Courier, monospace;
    }
}
input{
    width: 50px;
    height: 20px;
    margin: 0px 10px 0px 0px;
}