@import '../panel/panel.scss';
body {
    margin: 0px;
}
.range-slider {
    width: 100%;
    
}
.range-slider.vertical {
    height: 100%;
    min-height: 260px;
    width: 8px;
}
.slider__body{
    width: 100%;
    height: 8px;
    position: relative;
    background-color: #FFFFFF;
    border: 1px solid rgba(31,32,65,0.5);
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
}
.slider__body  .range__values.hidden,
.slider__body  .bar__range.hidden {
    display: none;
}
.progress__bar {
    position: absolute;
    height: 100%;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);    
}
.bar__range {
    position: absolute;
    width: 14px;
    height: 14px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: 2px solid #FFFFFF;
    border-radius: 14px;
}

.bar__max-value,.bar__min-value {
    cursor: pointer;
    position: absolute;
    font-size: 14px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}
.range-slider:not(.vertical) .progress__scale-bar {
    width: 100%;
    top:10px;
}
.range-slider.vertical .progress__scale-bar{
    height: 100%;
    left:-10px;
}
.progress__scale-bar {
    position: absolute;
}
.bar__range.from {
    left: 5px;
}
.range__values{
    position: absolute;
    border-radius: 14px;
    
    padding: 5px;
    font-size: 14px;
    min-width: 35px;
    height: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: #FFFFFF;
    text-align: center;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
.range-slider:not(.vertical) .range__values{
    top : -40px;
}
.range-slider:not(.vertical) .bar__max-value{
    left: 96%;
}
.range-slider:not(.vertical) .bar__range {
    top: -6px;
}
.range-slider:not(.vertical) .bar__max-value,.range-slider:not(.vertical) .bar__min-value{
    top: -20px;
}
.range-slider.vertical .slider__body {
    height: 100%;
}
.range-slider.vertical .progress__bar {
    width: 100%;
    bottom:0;
}
.range-slider.vertical .bar__range {
    left: -6px;
}
.range-slider.vertical .bar__min-value{
    bottom: -20px;
}
.range-slider.vertical .bar__max-value {
    top: -20px;
}
.range-slider.vertical .range__values{
    left: 15px;
}