@import '../view/view.scss';
.container {
    max-width: 430px;
    height: 260px;
    margin: 40px;
}
.container-2 {
    width: 500px;
    height: 260px;
    margin: 30px;
}
.container-3{
    height: 300px;
    margin: 30px;
}