@import '../view/view.scss';

body {
  margin: 0;
}

.demo-container {
  display: flex;
  justify-content: space-between;
}

.group {
  width: 500px;
}

.js-container {
  margin: 40px;
  width: 100%;
  height: 100%;
}

.js-container-2 {
  margin: 30px;
  width: 100%;
  height: 100%;
}

.js-container-3 {
  margin: 30px;
  width: 100%;
  height: 100%;
}
